.container {
    max-width: 860px;
    min-width: 320px;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

img {
    width: 300px;
    margin: 10px 0;
}

@media (max-width: 655px) {
    img {
        width: 500px;
    }
}

@media (max-width: 510px) {
    img {
        width: 400px;
    }
}

@media (max-width: 400px) {
    img {
        width: 320px;
    }
}

