.container {
    max-width: 860px;
    min-width: 320px;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

img {
    height: 200px;
    margin: 10px 5px;
}

@media (max-width: 655px) {
    img {
        max-width: 495px;
        height: auto;
    }
}

@media (max-width: 510px) {
    img {
        max-width: 400px;
        height: auto;
    }
}

@media (max-width: 400px) {
    img {
        max-width: 270px;
        height: auto;
    }
}